@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Funnel Display", serif;
}

:root {
  --bg: #1a5319;
  --nav: #1a1a19;
  --font: #fff;
  --btn: #921a40;
  --btn-hover: #c75b7a;
  --bg-r: #fff;
  --font-r: #000;
  --font-r-p: #4a4a4a;
}

body {
  background-color: var(--bg);
  color: var(--font);
}

header nav {
  background-color: var(--nav);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header nav h1 {
  font-size: 1.625rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header nav form {
  display: flex;
  justify-content: center;
}

form input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

form input[type="text"],
button[type="submit"] {
  border: none;
  font-size: 1.125rem;
  padding: 10px;
  border-radius: 4px;
}

form button[type="submit"] {
  background-color: var(--btn);
  color: inherit;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

form button[type="submit"]:hover,
.recipe button:hover {
  background-color: var(--btn-hover);
}

#recipeContainer {
  text-align: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  place-items: center;
}

.recipe {
  background-color: var(--bg-r);
  display: flex;
  flex-direction: column;
  color: var(--font-r);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1),
    -5px -5px 10px rgba(34, 34, 34, 0.5);
  cursor: pointer;
  max-width: 300px;
}

.recipe h3 {
  font-size: 1.5rem;
  margin-block: 5px;
}

.recipe p {
  font-size: 1.25rem;
  color: var(--font-r-p);
  margin: 5px 0;
}

.recipe span {
  font-weight: 600;
}

.recipe button {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 18px auto;
  background-color: var(--btn);
  color: var(--font);
  transition: background-color 0.2s ease-in-out;
}

@media screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
  }

  header nav form {
    width: 80%;
    margin-top: 20px;
  }
}
